.copyrights {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-size: 12px;
  padding: 14px 0;

  @include vp-1365 {
    padding: 16px 0;
  }

  @include vp-767 {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0;
    gap: 8px;
  }

  p {
    margin: 0;
  }
}

.copyrights::before {
  content: "";
  position: absolute;
  width: 3000px;
  height: 2px;
  background-color: #d1d1d1;
  top: -2px;
  left: -50%;
}

.copyrights__link {}
